In [113]:
import numpy as np
import pandas as pd

## Exploratory Data Analysis

In [114]:
data = pd.read_csv("book ratings dataset/Books Data with Category Language and Summary/Preprocessed_data.csv")

In [115]:
data

,Unnamed: 0,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada
2,2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada
3,3,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],NaN,NaN,NaN
4,4,41385,"sudbury, ontario, canada",34.7439,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],sudbury,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031170,1031170,278851,"dallas, texas, usa",33.0000,0743203763,0,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees,2000.0,Simon & Schuster,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...,Golf lovers will revel in this collection of t...,en,['Humor'],dallas,texas,usa
1031171,1031171,278851,"dallas, texas, usa",33.0000,0767907566,5,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001.0,Broadway Books,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...,A daring twist on the travel-adventure genre t...,en,['Nature'],dallas,texas,usa
1031172,1031172,278851,"dallas, texas, usa",33.0000,0884159221,7,Why stop?: A guide to Texas historical roadsid...,Claude Dooley,1985.0,Lone Star Books,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...,9,9,9,dallas,texas,usa
1031173,1031173,278851,"dallas, texas, usa",33.0000,0912333022,7,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997.0,Kqed Books,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...,These hilarious stories by the creator of publ...,en,['Fiction'],dallas,texas,usa
1031174,1031174,278851,"dallas, texas, usa",33.0000,1569661057,10,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999.0,American Map Corporation,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,9,9,9,dallas,texas,usa

In [116]:
data.drop(columns=["Unnamed: 0"], inplace=True)
data.head()

,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada
2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada
3,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],NaN,NaN,NaN
4,41385,"sudbury, ontario, canada",34.7439,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],sudbury,ontario,canada

In [117]:
data.shape

(1031175, 18)

In [118]:
# data  = data[data['rating'] != 0]

In [119]:
# data.shape

In [120]:
data.groupby("book_title").count()["rating"].reset_index().sort_values(by="rating", ascending=False)

                                               book_title  rating
234964                                        Wild Animus    2502
196337                          The Lovely Bones: A Novel    1295
183582                                  The Da Vinci Code     898
5303                                      A Painted House     838
199248                         The Nanny Diaries: A Novel     828
...                                                   ...     ...
147572                                   Real Men Talking       1
147571  Real Men Sell Bras (Five Star First Edition Ro...       1
63665   Fabulous Fallacies: More Than 300 Popular Beli...       1
63666   Fabulous Food for Family and Friends: Healthy ...       1
120545  Milking the Moon: A Southerner's Story of Life...       1

[241090 rows x 2 columns]

In [121]:
data.groupby("user_id").count()["rating"].reset_index().sort_values(by="rating", ascending=False)

       user_id  rating
3629     11676   11144
65333   198711    6456
50849   153662    5814
32582    98391    5779
11848    35859    5646
...        ...     ...
45336   137038       1
45337   137043       1
45339   137049       1
45341   137055       1
0            2       1

[92107 rows x 2 columns]

In [122]:
x = data.groupby("user_id").count()["rating"] > 50
significant_users = x[x].index
significant_users

Int64Index([   243,    254,    507,    638,    643,    741,    882,    929,
              1211,   1424,
            ...
            277928, 277965, 278026, 278137, 278144, 278188, 278418, 278582,
            278633, 278843],
           dtype='int64', name='user_id', length=3012)

In [123]:
data_modified = data[data["user_id"].isin(significant_users)]
data_modified

,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada
3,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],NaN,NaN,NaN
6,85526,"victoria, british columbia, canada",36.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],victoria,british columbia,canada
7,96054,"ottawa, ontario, canada",29.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada
8,116866,"ottawa, ,",34.7439,0002005018,9,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,",",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031161,278843,"pismo beach, california, usa",28.0000,0373262388,0,Mr Donaghue Investigates (Ulysses Donaghue Mys...,Anna Shone,1997.0,Worldwide Library,http://images.amazon.com/images/P/0373262388.0...,http://images.amazon.com/images/P/0373262388.0...,http://images.amazon.com/images/P/0373262388.0...,9,9,9,pismo beach,california,usa
1031162,278843,"pismo beach, california, usa",28.0000,0689818904,7,My Grandmother's Journey,John Cech,1998.0,Aladdin,http://images.amazon.com/images/P/0689818904.0...,http://images.amazon.com/images/P/0689818904.0...,http://images.amazon.com/images/P/0689818904.0...,A grandmother tells the story of her eventful ...,en,['Juvenile Fiction'],pismo beach,california,usa
1031163,278843,"pismo beach, california, usa",28.0000,0743525493,7,The Motley Fool's What To Do with Your Money N...,David Gardner,2002.0,Simon & Schuster Audio,http://images.amazon.com/images/P/0743525493.0...,http://images.amazon.com/images/P/0743525493.0...,http://images.amazon.com/images/P/0743525493.0...,9,9,9,pismo beach,california,usa
1031164,278843,"pismo beach, california, usa",28.0000,1581150601,0,Crafts and Craft Shows: How to Make Money,Phil Kadubec,2000.0,Watson-Guptill Publications,http://images.amazon.com/images/P/1581150601.0...,http://images.amazon.com/images/P/1581150601.0...,http://images.amazon.com/images/P/1581150601.0...,"Craftspeople, hobby-ists, and crafts-related b...",en,['Crafts & Hobbies'],pismo beach,california,usa
1031165,278843,"pismo beach, california, usa",28.0000,1874061149,0,The Queen's Gambit,Walter Tevis,1996.0,Texas Bookman,http://images.amazon.com/images/P/1874061149.0...,http://images.amazon.com/images/P/1874061149.0...,http://images.amazon.com/images/P/1874061149.0...,"Engaging and fast-paced, The Queen&#39;s Gambi...",en,['Fiction'],pismo beach,california,usa

In [124]:
data_modified.groupby("book_title").count()["rating"].reset_index().sort_values(by="rating", ascending=False)

              isbn  rating
182496  0971880107     772
31892   0316666343     555
60905   0385504209     422
5979    0060928336     371
26495   0312195516     335
...            ...     ...
98187   0552138320       1
98190   0552138428       1
98192   0552138452       1
98193   055213855X       1
217969  B0002K6K8O       1

[217970 rows x 2 columns]

In [125]:
y = data_modified.groupby("book_title").count()["rating"] >=100
significant_books = y[y].index

In [126]:
data_modified = data_modified[data_modified["book_title"].isin(significant_books)]
data_modified

,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
99,243,"arden hills, minnesota, usa",34.7439,0440234743,0,The Testament,John Grisham,1999.0,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,"A suicidal billionaire, a burnt-out Washington...",en,['Fiction'],arden hills,minnesota,usa
101,2977,"richland, washington, usa",25.0000,0440234743,0,The Testament,John Grisham,1999.0,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,"A suicidal billionaire, a burnt-out Washington...",en,['Fiction'],richland,washington,usa
103,3363,"knoxville, tennessee, usa",29.0000,0440234743,0,The Testament,John Grisham,1999.0,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,"A suicidal billionaire, a burnt-out Washington...",en,['Fiction'],knoxville,tennessee,usa
106,7346,"sunnyvale, california, usa",49.0000,0440234743,9,The Testament,John Grisham,1999.0,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,"A suicidal billionaire, a burnt-out Washington...",en,['Fiction'],sunnyvale,california,usa
109,9747,"o`fallon, missouri, usa",34.7439,0440234743,0,The Testament,John Grisham,1999.0,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,"A suicidal billionaire, a burnt-out Washington...",en,['Fiction'],o`fallon,missouri,usa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440653,260183,"st catharines, ontario, canada",25.0000,0449223604,0,M Is for Malice,Sue Grafton,1998.0,Fawcett Books,http://images.amazon.com/images/P/0449223604.0...,http://images.amazon.com/images/P/0449223604.0...,http://images.amazon.com/images/P/0449223604.0...,9,9,9,st catharines,ontario,canada
440654,264947,"la mesa, california, usa",34.7439,0449223604,5,M Is for Malice,Sue Grafton,1998.0,Fawcett Books,http://images.amazon.com/images/P/0449223604.0...,http://images.amazon.com/images/P/0449223604.0...,http://images.amazon.com/images/P/0449223604.0...,9,9,9,la mesa,california,usa
440655,269157,"ann arbor, michigan, usa",34.7439,0449223604,0,M Is for Malice,Sue Grafton,1998.0,Fawcett Books,http://images.amazon.com/images/P/0449223604.0...,http://images.amazon.com/images/P/0449223604.0...,http://images.amazon.com/images/P/0449223604.0...,9,9,9,ann arbor,michigan,usa
440657,269566,"seattle, washington, usa",9.0000,0449223604,0,M Is for Malice,Sue Grafton,1998.0,Fawcett Books,http://images.amazon.com/images/P/0449223604.0...,http://images.amazon.com/images/P/0449223604.0...,http://images.amazon.com/images/P/0449223604.0...,9,9,9,seattle,washington,usa
440660,278843,"pismo beach, california, usa",28.0000,0449223604,0,M Is for Malice,Sue Grafton,1998.0,Fawcett Books,http://images.amazon.com/images/P/0449223604.0...,http://images.amazon.com/images/P/0449223604.0...,http://images.amazon.com/images/P/0449223604.0...,9,9,9,pismo beach,california,usa

## Matrix of books against users

In [127]:
matrix = data_modified.pivot_table(index="user_id", columns="book_title", values="rating")
matrix

book_title,1984,1st to Die: A Novel,2nd Chance,4 Blondes,A Bend in the Road,A Case of Need,"A Child Called \It\"": One Child's Courage to Survive""",A Heartbreaking Work of Staggering Genius,A Is for Alibi (Kinsey Millhone Mysteries (Paperback)),A Lesson Before Dying (Vintage Contemporaries (Paperback)),...,What Looks Like Crazy On An Ordinary Day,When the Wind Blows,Where the Heart Is (Oprah's Book Club (Paperback)),While I Was Gone,White Oleander : A Novel,White Oleander : A Novel (Oprah's Book Club),White Teeth: A Novel,Wicked: The Life and Times of the Wicked Witch of the West,Wild Animus,"\O\"" Is for Outlaw"""
user_id,,,,,,,,,,,,,,,,,,,,,
243,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278188,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
def subtract_row_mean(row):
    row_mean = np.nanmean(row)  # Calculate the mean excluding NaN values
    return row.apply(lambda x: x - row_mean if not np.isnan(x) else x)

# Apply the function to each row of the DataFrame
matrix_normalized = matrix.apply(subtract_row_mean, axis=1)



# Display the resulting DataFrame
matrix_normalized

book_title,1984,1st to Die: A Novel,2nd Chance,4 Blondes,A Bend in the Road,A Case of Need,"A Child Called \It\"": One Child's Courage to Survive""",A Heartbreaking Work of Staggering Genius,A Is for Alibi (Kinsey Millhone Mysteries (Paperback)),A Lesson Before Dying (Vintage Contemporaries (Paperback)),...,What Looks Like Crazy On An Ordinary Day,When the Wind Blows,Where the Heart Is (Oprah's Book Club (Paperback)),While I Was Gone,White Oleander : A Novel,White Oleander : A Novel (Oprah's Book Club),White Teeth: A Novel,Wicked: The Life and Times of the Wicked Witch of the West,Wild Animus,"\O\"" Is for Outlaw"""
user_id,,,,,,,,,,,,,,,,,,,,,
243,NaN,NaN,-2.592593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,6.606061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-2.393939,NaN,NaN,NaN,NaN,NaN
507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278188,NaN,NaN,NaN,NaN,-2.833333,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418,NaN,NaN,NaN,NaN,NaN,-0.301887,NaN,-0.301887,NaN,-0.301887,...,NaN,NaN,-0.301887,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.842105,...,NaN,NaN,-3.842105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
matrix_normalized.fillna(0, inplace=True)

In [130]:
matrix_normalized

book_title,1984,1st to Die: A Novel,2nd Chance,4 Blondes,A Bend in the Road,A Case of Need,"A Child Called \It\"": One Child's Courage to Survive""",A Heartbreaking Work of Staggering Genius,A Is for Alibi (Kinsey Millhone Mysteries (Paperback)),A Lesson Before Dying (Vintage Contemporaries (Paperback)),...,What Looks Like Crazy On An Ordinary Day,When the Wind Blows,Where the Heart Is (Oprah's Book Club (Paperback)),While I Was Gone,White Oleander : A Novel,White Oleander : A Novel (Oprah's Book Club),White Teeth: A Novel,Wicked: The Life and Times of the Wicked Witch of the West,Wild Animus,"\O\"" Is for Outlaw"""
user_id,,,,,,,,,,,,,,,,,,,,,
243,0.000000,0.0,-2.592593,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
254,6.606061,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,-2.393939,0.0,0.0,0.0,0.0,0.0
507,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
638,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
741,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278188,0.000000,0.0,0.000000,0.0,-2.833333,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
278418,0.000000,0.0,0.000000,0.0,0.000000,-0.301887,0.0,-0.301887,0.0,-0.301887,...,0.0,0.0,-0.301887,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
278582,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
278633,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,-3.842105,...,0.0,0.0,-3.842105,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
278843,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

# Making user clusters based on user-user collaborative filtering using common book ratings

In [131]:
from sklearn.metrics.pairwise import cosine_similarity

In [132]:
user_similarity = cosine_similarity(matrix_normalized)

In [133]:
user_similarity

array([[ 1.        , -0.00662527,  0.        , ...,  0.        ,
        -0.04051565, -0.08965926],
       [-0.00662527,  1.        ,  0.27085427, ..., -0.04102131,
         0.03499598, -0.00362684],
       [ 0.        ,  0.27085427,  1.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        , -0.04102131,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [-0.04051565,  0.03499598,  0.        , ...,  0.        ,
         1.        ,  0.03889616],
       [-0.08965926, -0.00362684,  0.        , ...,  0.        ,
         0.03889616,  1.        ]])

In [134]:
user_similarity.shape

(2795, 2795)

In [135]:
def get_similar_users(user_id):
    index = np.where(matrix.index==user_id)[0][0]
    neareset_neighbours = sorted(list(enumerate(user_similarity[index])), key=lambda x:x[1], reverse=True)[1:]
    return neareset_neighbours

In [136]:
similar_user_indices_with_similarity = get_similar_users(254)
similar_user_indices = [x[0] for x in similar_user_indices_with_similarity]
similar_user_indices

[2007,
 2033,
 1830,
 772,
 2066,
 1798,
 726,
 1744,
 1232,
 2472,
 15,
 1592,
 2374,
 395,
 1062,
 2694,
 1014,
 131,
 766,
 1846,
 533,
 1623,
 1690,
 1988,
 1997,
 1633,
 1946,
 1151,
 2,
 2352,
 2643,
 394,
 681,
 1660,
 733,
 1924,
 2315,
 2376,
 1149,
 1663,
 789,
 749,
 48,
 1708,
 2139,
 272,
 1256,
 1821,
 262,
 1036,
 876,
 193,
 1289,
 2108,
 2440,
 543,
 2255,
 1000,
 1489,
 731,
 466,
 1935,
 1815,
 454,
 1931,
 1283,
 744,
 1938,
 1694,
 649,
 136,
 1513,
 1308,
 1059,
 2759,
 2164,
 2127,
 797,
 2780,
 905,
 1686,
 347,
 2680,
 1179,
 1849,
 85,
 1713,
 510,
 17,
 2103,
 1769,
 2085,
 867,
 2444,
 107,
 1589,
 1565,
 707,
 1951,
 1028,
 1027,
 839,
 648,
 2197,
 2344,
 1371,
 92,
 861,
 289,
 1284,
 667,
 1212,
 1469,
 1325,
 2614,
 930,
 1642,
 2363,
 73,
 1930,
 545,
 2187,
 502,
 1598,
 801,
 728,
 1768,
 2769,
 1155,
 379,
 2734,
 189,
 595,
 2452,
 655,
 1872,
 2413,
 1214,
 2666,
 1597,
 2598,
 539,
 74,
 651,
 542,
 1276,
 2209,
 1207,
 557,
 1478,
 1508,
 213,
 2725,
 1533,
 2391,
 1864,
 277,
 1041,
 2324,
 1219,
 1392,
 1145,
 914,
 1061,
 2068,
 663,
 1429,
 1008,
 859,
 755,
 64,
 608,
 868,
 1408,
 2074,
 21,
 291,
 855,
 823,
 39,
 2309,
 2414,
 2385,
 1852,
 1722,
 615,
 1596,
 2688,
 2765,
 1311,
 418,
 2055,
 1362,
 1475,
 2572,
 1176,
 1168,
 2264,
 1809,
 2031,
 1096,
 1189,
 1411,
 1761,
 1499,
 1224,
 518,
 603,
 948,
 1615,
 1574,
 327,
 1520,
 1514,
 1636,
 243,
 1936,
 2499,
 1521,
 2210,
 2418,
 353,
 778,
 84,
 2026,
 456,
 2145,
 558,
 1760,
 2732,
 916,
 592,
 992,
 729,
 2341,
 1253,
 2423,
 1968,
 1899,
 1465,
 1346,
 2277,
 1841,
 1353,
 1781,
 1863,
 196,
 1885,
 586,
 2224,
 2500,
 2289,
 2684,
 1143,
 2240,
 439,
 1785,
 1080,
 126,
 1517,
 2446,
 1961,
 1972,
 982,
 468,
 1874,
 2441,
 362,
 1800,
 1200,
 2503,
 176,
 1784,
 671,
 222,
 2658,
 1700,
 1450,
 771,
 787,
 727,
 453,
 1210,
 1766,
 1132,
 1770,
 46,
 1077,
 2042,
 1331,
 740,
 2590,
 1150,
 2400,
 49,
 2002,
 1780,
 2437,
 565,
 41,
 82,
 2467,
 306,
 2611,
 1658,
 1369,
 2301,
 217,
 2772,
 1868,
 560,
 1433,
 1381,
 2141,
 934,
 2386,
 1532,
 2690,
 601,
 1220,
 710,
 2222,
 2173,
 198,
 2508,
 578,
 960,
 2121,
 2140,
 2422,
 2519,
 965,
 1418,
 1720,
 2346,
 2677,
 1594,
 2091,
 477,
 106,
 2288,
 2754,
 2410,
 2369,
 743,
 1216,
 1249,
 1196,
 536,
 2021,
 1106,
 329,
 1035,
 2431,
 2701,
 1031,
 2093,
 2495,
 345,
 952,
 1370,
 2226,
 2097,
 2698,
 412,
 1591,
 1843,
 2188,
 1421,
 1776,
 1343,
 2751,
 271,
 994,
 187,
 1928,
 1655,
 2198,
 1414,
 68,
 1013,
 1177,
 227,
 689,
 2181,
 2099,
 2546,
 1796,
 1088,
 2639,
 1888,
 939,
 2260,
 1992,
 1349,
 2529,
 2678,
 2757,
 1160,
 444,
 1918,
 2275,
 2136,
 2165,
 1804,
 2619,
 286,
 458,
 1372,
 1102,
 972,
 1380,
 2533,
 155,
 25,
 702,
 1483,
 1679,
 204,
 2449,
 1401,
 946,
 1641,
 1894,
 1398,
 1355,
 923,
 1635,
 2724,
 2394,
 123,
 2577,
 71,
 1638,
 2649,
 1412,
 1979,
 2318,
 1250,
 2246,
 1538,
 1234,
 2272,
 2190,
 1626,
 1153,
 1585,
 724,
 534,
 2638,
 1503,
 1087,
 945,
 2648,
 2718,
 2307,
 2233,
 978,
 1095,
 1400,
 1515,
 471,
 716,
 2273,
 752,
 1976,
 1738,
 1156,
 1568,
 2409,
 298,
 425,
 2333,
 2544,
 800,
 1393,
 2262,
 1327,
 1474,
 1674,
 1659,
 1391,
 168,
 669,
 1377,
 643,
 2086,
 1971,
 2342,
 1631,
 896,
 1625,
 1752,
 380,
 614,
 2161,
 1135,
 900,
 1528,
 2504,
 369,
 2407,
 27,
 111,
 1767,
 931,
 1236,
 2017,
 2487,
 1344,
 2339,
 1136,
 1032,
 2777,
 80,
 165,
 374,
 1295,
 1039,
 2482,
 2657,
 955,
 697,
 1340,
 2083,
 192,
 2644,
 746,
 522,
 2793,
 1779,
 1239,
 831,
 654,
 2634,
 295,
 2245,
 626,
 762,
 366,
 451,
 1794,
 1473,
 2696,
 22,
 2430,
 237,
 1365,
 937,
 765,
 1671,
 351,
 1763,
 498,
 1054,
 1889,
 463,
 2576,
 527,
 1604,
 844,
 2478,
 2343,
 2297,
 2412,
 320,
 551,
 942,
 1613,
 6,
 342,
 933,
 1652,
 2155,
 796,
 1778,
 2768,
 1819,
 1413,
 1844,
 384,
 520,
 2435,
 16,
 1248,
 999,
 547,
 2151,
 1820,
 1272,
 2567,
 2535,
 159,
 2225,
 1286,
 58,
 1199,
 1640,
 2235,
 2477,
 2555,
 2645,
 2781,
 895,
 1278,
 483,
 1493,
 541,
 1456,
 1046,
 524,
 949,
 932,
 781,
 354,
 1432,
 1162,
 2672,
 2707,
 2773,
 1198,
 1009,
 2212,
 1221,
 2229,
 2259,
 322,
 1921,
 112,
 2372,
 2561,
 555,
 336,
 305,
 1925,
 443,
 1131,
 956,
 620,
 67,
 396,
 622,
 628,
 1773,
 2332,
 2383,
 2774,
 1183,
 1745,
 738,
 1929,
 2171,
 836,
 36,
 2126,
 1665,
 317,
 1806,
 261,
 1771,
 389,
 91,
 1015,
 1037,
 2594,
 2382,
 2706,
 2081,
 2250,
 1066,
 503,
 1827,
 587,
 2531,
 2662,
 2455,
 604,
 2729,
 1048,
 2637,
 1678,
 1358,
 2257,
 847,
 2148,
 285,
 1310,
 194,
 904,
 1060,
 2697,
 180,
 1306,
 475,
 2124,
 2353,
 376,
 1567,
 2627,
 747,
 2038,
 1759,
 1865,
 2721,
 229,
 419,
 910,
 935,
 2000,
 2004,
 1449,
 2335,
 1083,
 343,
 50,
 1926,
 2395,
 1128,
 1896,
 682,
 2044,
 279,
 1055,
 2538,
 1424,
 162,
 1870,
 525,
 1556,
 537,
 138,
 2117,
 1245,
 1501,
 83,
 191,
 1685,
 175,
 1916,
 1765,
 1808,
 1063,
 1909,
 406,
 2390,
 1417,
 2159,
 373,
 2419,
 2737,
 247,
 2641,
 656,
 236,
 1123,
 2371,
 2687,
 852,
 2615,
 2298,
 2739,
 2599,
 1329,
 142,
 1084,
 1101,
 1552,
 2049,
 59,
 881,
 2331,
 2625,
 514,
 61,
 2554,
 582,
 1304,
 2470,
 280,
 700,
 211,
 1912,
 827,
 1233,
 1775,
 593,
 2479,
 1996,
 1007,
 884,
 1734,
 1435,
 2429,
 1616,
 2731,
 2587,
 2170,
 1107,
 1159,
 1121,
 491,
 1223,
 1208,
 2008,
 2178,
 2610,
 1536,
 375,
 473,
 579,
 1300,
 1676,
 2184,
 1025,
 1606,
 1195,
 2616,
 2236,
 2664,
 2096,
 1093,
 1356,
 1068,
 2542,
 240,
 2156,
 730,
 2484,
 2633,
 666,
 2652,
 1269,
 621,
 1629,
 1712,
 2360,
 1334,
 43,
 391,
 1848,
 2384,
 739,
 225,
 144,
 2094,
 691,
 2389,
 1251,
 2425,
 153,
 1907,
 1507,
 316,
 1584,
 157,
 184,
 2263,
 2299,
 2059,
 78,
 314,
 1345,
 2586,
 2282,
 1225,
 1129,
 619,
 2469,
 1051,
 1982,
 2379,
 1948,
 2150,
 1457,
 2539,
 1163,
 146,
 903,
 65,
 1656,
 26,
 1309,
 594,
 862,
 436,
 833,
 1247,
 696,
 1285,
 791,
 164,
 2308,
 2589,
 1743,
 266,
 2604,
 675,
 670,
 1803,
 2296,
 2573,
 2710,
 462,
 2337,
 2228,
 98,
 1977,
 1522,
 431,
 1420,
 304,
 2541,
 507,
 2287,
 1394,
 1703,
 2104,
 360,
 2128,
 97,
 2248,
 1444,
 1687,
 2628,
 885,
 2766,
 1715,
 1454,
 333,
 258,
 605,
 1709,
 2551,
 1586,
 1382,
 2114,
 1970,
 1688,
 2362,
 2073,
 368,
 837,
 124,
 1298,
 4,
 7,
 12,
 13,
 14,
 19,
 23,
 24,
 29,
 30,
 31,
 34,
 35,
 37,
 38,
 40,
 42,
 44,
 55,
 66,
 75,
 76,
 77,
 79,
 81,
 86,
 87,
 88,
 90,
 93,
 94,
 95,
 96,
 99,
 102,
 108,
 109,
 113,
 116,
 118,
 121,
 125,
 128,
 129,
 132,
 133,
 135,
 139,
 141,
 143,
 147,
 148,
 150,
 151,
 154,
 158,
 ...]

In [137]:
users = list(matrix.index)
users

[243,
 254,
 507,
 638,
 741,
 882,
 929,
 1211,
 1424,
 1435,
 1674,
 1733,
 1848,
 1903,
 2030,
 2033,
 2110,
 2179,
 2276,
 2358,
 2766,
 2891,
 2977,
 3145,
 3167,
 3346,
 3363,
 3371,
 3373,
 3556,
 3675,
 3827,
 4017,
 4092,
 4157,
 4385,
 4622,
 4938,
 5439,
 5539,
 5543,
 5582,
 5609,
 5903,
 6073,
 6242,
 6251,
 6323,
 6431,
 6543,
 6563,
 6575,
 6772,
 7125,
 7158,
 7210,
 7283,
 7286,
 7346,
 7569,
 7887,
 7915,
 7958,
 8019,
 8066,
 8067,
 8167,
 8245,
 8253,
 8284,
 8362,
 8454,
 8487,
 8529,
 8681,
 8734,
 8782,
 8839,
 8936,
 9141,
 9227,
 9417,
 9613,
 9747,
 9856,
 9908,
 10030,
 10067,
 10118,
 10314,
 10354,
 10447,
 10560,
 10819,
 11120,
 11224,
 11245,
 11400,
 11601,
 11629,
 11676,
 11687,
 11724,
 11993,
 12100,
 12272,
 12538,
 12824,
 12835,
 12982,
 13082,
 13093,
 13273,
 13540,
 13552,
 13582,
 13600,
 13850,
 13935,
 13995,
 14079,
 14232,
 14326,
 14387,
 14422,
 14449,
 14456,
 14521,
 14638,
 14698,
 14768,
 14897,
 14966,
 15021,
 15049,
 15208,
 15408,
 15418,
 15497,
 15589,
 15651,
 15670,
 15819,
 15945,
 15957,
 16106,
 16155,
 16161,
 16413,
 16488,
 16599,
 16601,
 16634,
 16718,
 16721,
 16795,
 16916,
 16943,
 16966,
 16996,
 17003,
 17190,
 17282,
 17507,
 17667,
 17859,
 17950,
 18067,
 18082,
 18172,
 18384,
 18401,
 19085,
 19493,
 19522,
 19664,
 19681,
 19711,
 19842,
 20060,
 20115,
 20119,
 20172,
 20180,
 20201,
 20409,
 20462,
 20627,
 20971,
 21011,
 21014,
 21031,
 21229,
 21252,
 21356,
 21364,
 21404,
 21484,
 21576,
 21618,
 21659,
 22074,
 22365,
 22495,
 22521,
 22625,
 22818,
 23288,
 23511,
 23571,
 23680,
 23768,
 23871,
 23872,
 23902,
 24186,
 24194,
 24433,
 24539,
 24544,
 24641,
 24733,
 24921,
 24933,
 24934,
 25131,
 25311,
 25409,
 25436,
 25533,
 25601,
 25695,
 25981,
 26084,
 26240,
 26443,
 26516,
 26535,
 26544,
 26583,
 26593,
 26621,
 26730,
 26883,
 27140,
 27169,
 27462,
 27472,
 27551,
 27617,
 27647,
 27740,
 27788,
 27812,
 27813,
 27875,
 27947,
 28076,
 28177,
 28204,
 28255,
 28360,
 28523,
 28591,
 28594,
 28619,
 28634,
 28666,
 28938,
 29101,
 29209,
 29259,
 29526,
 29806,
 29855,
 29915,
 30035,
 30081,
 30261,
 30273,
 30276,
 30445,
 30487,
 30509,
 30511,
 30533,
 30711,
 30712,
 30716,
 30735,
 30744,
 30806,
 30810,
 30824,
 30898,
 30972,
 30985,
 30994,
 31008,
 31040,
 31050,
 31094,
 31226,
 31308,
 31315,
 31391,
 31393,
 31466,
 31556,
 31652,
 31826,
 31846,
 31900,
 31919,
 31987,
 32122,
 32195,
 32250,
 32440,
 32575,
 32627,
 32721,
 32773,
 32802,
 33124,
 33319,
 33474,
 33580,
 33816,
 33818,
 33888,
 33943,
 33958,
 33974,
 34300,
 34523,
 34588,
 34801,
 35050,
 35185,
 35445,
 35704,
 35718,
 35836,
 35857,
 35859,
 35918,
 36003,
 36135,
 36256,
 36299,
 36327,
 36554,
 36606,
 36609,
 36673,
 36715,
 36741,
 36749,
 36836,
 36907,
 37019,
 37208,
 37288,
 37293,
 37400,
 37493,
 37512,
 37538,
 37556,
 37567,
 37644,
 37712,
 37950,
 37968,
 37974,
 38023,
 38229,
 38273,
 38281,
 38464,
 38544,
 38556,
 38781,
 38802,
 38950,
 39195,
 39227,
 39281,
 39345,
 39396,
 39441,
 39467,
 39502,
 39584,
 39616,
 39646,
 39705,
 39773,
 40012,
 40330,
 40415,
 40553,
 40559,
 40647,
 40889,
 40914,
 40943,
 41084,
 41086,
 41364,
 41449,
 41455,
 41667,
 41757,
 41781,
 41837,
 41841,
 42093,
 42323,
 42400,
 42458,
 42466,
 42718,
 42914,
 42948,
 43004,
 43006,
 43021,
 43246,
 43359,
 43619,
 43687,
 43806,
 43807,
 43842,
 43910,
 43962,
 44089,
 44252,
 44296,
 44297,
 44595,
 44728,
 44845,
 44893,
 44925,
 45042,
 45418,
 45557,
 46145,
 46269,
 46398,
 46443,
 46461,
 46909,
 47117,
 47279,
 47316,
 47594,
 47609,
 47971,
 48025,
 48046,
 48057,
 48268,
 48355,
 48494,
 48579,
 48743,
 48911,
 48975,
 49109,
 49154,
 49155,
 49212,
 49422,
 49460,
 49771,
 49842,
 49889,
 49980,
 49994,
 50073,
 50204,
 50225,
 50547,
 50550,
 50730,
 50849,
 50895,
 51082,
 51094,
 51192,
 51252,
 51350,
 51386,
 51440,
 51450,
 51526,
 51571,
 51742,
 51856,
 51883,
 51992,
 52002,
 52044,
 52199,
 52203,
 52293,
 52350,
 52584,
 52614,
 52807,
 52853,
 52917,
 53174,
 53220,
 53241,
 53256,
 53278,
 53392,
 53418,
 53430,
 53456,
 53614,
 53628,
 53729,
 53846,
 54206,
 54218,
 54335,
 54453,
 54578,
 54622,
 54884,
 54898,
 55075,
 55142,
 55178,
 55187,
 55438,
 55490,
 55492,
 55493,
 55548,
 55607,
 55734,
 55858,
 55892,
 55927,
 56157,
 56271,
 56307,
 56360,
 56391,
 56399,
 56447,
 56554,
 56856,
 56959,
 57006,
 57108,
 57234,
 57255,
 57398,
 57449,
 57620,
 57725,
 58062,
 58363,
 58458,
 58594,
 58612,
 58911,
 59038,
 59059,
 59150,
 59172,
 59189,
 59269,
 59390,
 59727,
 59770,
 59912,
 59971,
 60050,
 60244,
 60263,
 60277,
 60278,
 60319,
 60337,
 60392,
 60569,
 60583,
 60621,
 60707,
 60797,
 60858,
 61028,
 61038,
 61107,
 61147,
 61427,
 61619,
 61798,
 61854,
 61901,
 61910,
 62009,
 62239,
 62272,
 62464,
 62542,
 62558,
 62688,
 62755,
 62862,
 62881,
 62891,
 62895,
 62966,
 63394,
 63595,
 63714,
 63854,
 63938,
 63956,
 64241,
 64310,
 64436,
 64440,
 64946,
 65145,
 65208,
 65258,
 65322,
 65584,
 65663,
 65665,
 65769,
 66385,
 66443,
 66483,
 66485,
 66574,
 66680,
 66878,
 66942,
 67034,
 67198,
 67270,
 67403,
 67515,
 67547,
 67663,
 67840,
 67930,
 67997,
 68156,
 68185,
 68249,
 68256,
 68383,
 68436,
 68555,
 68760,
 68943,
 68984,
 69042,
 69078,
 69156,
 69211,
 69232,
 69355,
 69378,
 69389,
 69405,
 69554,
 69684,
 69697,
 69721,
 69808,
 69810,
 69933,
 69971,
 70052,
 70065,
 70183,
 70222,
 70415,
 70538,
 70541,
 70564,
 70594,
 70666,
 70931,
 70999,
 71102,
 71207,
 71234,
 71470,
 71568,
 71712,
 71739,
 71831,
 71853,
 71900,
 71902,
 72214,
 72451,
 72523,
 72531,
 72601,
 72785,
 72990,
 72992,
 73044,
 73127,
 73157,
 73196,
 73330,
 73394,
 73588,
 73651,
 73681,
 73923,
 74026,
 74056,
 74286,
 74328,
 74453,
 74665,
 74691,
 74709,
 74758,
 74833,
 75081,
 75149,
 75485,
 75591,
 75595,
 75819,
 75860,
 76019,
 76102,
 76151,
 76168,
 76223,
 76352,
 76482,
 76483,
 76499,
 76530,
 76626,
 76710,
 76818,
 76942,
 77052,
 77082,
 77181,
 77480,
 77809,
 77940,
 78448,
 78553,
 78783,
 78834,
 78846,
 78941,
 78973,
 79186,
 79215,
 79266,
 79285,
 79441,
 79506,
 79740,
 79754,
 79854,
 79942,
 79977,
 80075,
 80203,
 80234,
 80453,
 80538,
 80555,
 80642,
 80683,
 80810,
 80908,
 80945,
 81045,
 81088,
 81207,
 81216,
 81274,
 81298,
 81368,
 81492,
 81560,
 81597,
 81609,
 81682,
 81771,
 81848,
 81855,
 81977,
 82123,
 82164,
 82407,
 82497,
 82511,
 82831,
 82893,
 82926,
 83109,
 83178,
 83287,
 83467,
 83496,
 83637,
 83671,
 83707,
 83743,
 84024,
 84201,
 84716,
 84831,
 84897,
 85043,
 85426,
 85433,
 85526,
 85656,
 85701,
 85757,
 85993,
 86033,
 86107,
 86123,
 86145,
 86189,
 86202,
 86242,
 86243,
 86392,
 86408,
 86538,
 86641,
 86680,
 86720,
 86835,
 86959,
 87141,
 87143,
 87257,
 87555,
 87707,
 87712,
 87746,
 87929,
 87938,
 87964,
 87974,
 88122,
 88229,
 88283,
 88412,
 88620,
 88652,
 88677,
 88693,
 88729,
 88733,
 88738,
 88793,
 88937,
 89014,
 89207,
 89307,
 89391,
 89551,
 89602,
 89867,
 89869,
 90049,
 90137,
 90391,
 90423,
 90616,
 90766,
 91026,
 91103,
 91113,
 91184,
 91203,
 91266,
 91342,
 91449,
 91633,
 91832,
 91931,
 92405,
 92498,
 92547,
 92652,
 92810,
 92853,
 92861,
 92979,
 93034,
 93047,
 93085,
 93092,
 93147,
 93179,
 93363,
 93426,
 93518,
 93565,
 93629,
 94242,
 94347,
 94781,
 94787,
 94853,
 94923,
 94951,
 94952,
 94985,
 95010,
 95173,
 95193,
 95261,
 95316,
 95353,
 95359,
 95509,
 95574,
 95741,
 95903,
 95921,
 95923,
 95932,
 95991,
 96054,
 96320,
 96357,
 96440,
 96448,
 96475,
 96493,
 96554,
 96679,
 96744,
 96771,
 96776,
 96869,
 97025,
 97160,
 97208,
 97290,
 97324,
 97754,
 97874,
 98263,
 98297,
 98322,
 98356,
 98391,
 98440,
 98499,
 98547,
 98575,
 98647,
 98686,
 98723,
 98741,
 98758,
 98783,
 98787,
 98904,
 98930,
 99032,
 99227,
 99312,
 99347,
 99630,
 99955,
 100088,
 100264,
 100459,
 100578,
 100644,
 100782,
 100822,
 100846,
 ...]

In [138]:
book_titles = list(matrix.columns)
book_titles

['1984',
 '1st to Die: A Novel',
 '2nd Chance',
 '4 Blondes',
 'A Bend in the Road',
 'A Case of Need',
 'A Child Called \\It\\": One Child\'s Courage to Survive"',
 'A Heartbreaking Work of Staggering Genius',
 'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
 'A Lesson Before Dying (Vintage Contemporaries (Paperback))',
 'A Map of the World',
 'A Painted House',
 'A Prayer for Owen Meany',
 "A Thousand Acres (Ballantine Reader's Circle)",
 'A Time to Kill',
 'A Walk to Remember',
 "ANGELA'S ASHES",
 'Airframe',
 'All I Really Need to Know',
 'All That Remains (Kay Scarpetta Mysteries (Paperback))',
 'Along Came a Spider (Alex Cross Novels)',
 'American Gods',
 "Angela's Ashes (MMP) : A Memoir",
 "Angela's Ashes: A Memoir",
 'Angels & Demons',
 'Ashes to Ashes',
 'At Home in Mitford (The Mitford Years)',
 'Atonement : A Novel',
 'B Is for Burglar (Kinsey Millhone Mysteries (Paperback))',
 'Balzac and the Little Chinese Seamstress : A Novel',
 'Before I Say Good-Bye',
 'Bel Canto: A Novel',
 "Big Stone Gap: A Novel (Ballantine Reader's Circle)",
 'Black Notice',
 'Black and Blue',
 'Breathing Lessons',
 "Bridget Jones's Diary",
 'Bridget Jones: The Edge of Reason',
 'C Is for Corpse (Kinsey Millhone Mysteries (Paperback))',
 'Call of the Wild',
 'Carolina Moon',
 'Cat & Mouse (Alex Cross Novels)',
 'Cause of Death',
 'Chicken Soup for the Soul (Chicken Soup for the Soul)',
 'Circle of Friends',
 'Cold Mountain : A Novel',
 'Confessions of a Shopaholic (Summer Display Opportunity)',
 'Confessions of an Ugly Stepsister : A Novel',
 'Congo',
 'Cradle and All',
 'Cruel & Unusual (Kay Scarpetta Mysteries (Paperback))',
 'D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))',
 'Daisy Fay and the Miracle Man',
 'Dance upon the Air (Three Sisters Island Trilogy)',
 'Dark Paradise',
 'Deception Point',
 'Disclosure',
 'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
 'Dolores Claiborne',
 "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)",
 "Dude, Where's My Country?",
 'E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))',
 'Ellen Foster',
 'Empire Falls',
 'F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))',
 'Face the Fire (Three Sisters Island Trilogy)',
 'Fahrenheit 451',
 'Fall On Your Knees (Oprah #45)',
 'False Memory',
 'Fast Food Nation: The Dark Side of the All-American Meal',
 'Fast Women',
 'Four To Score (A Stephanie Plum Novel)',
 'Fried Green Tomatoes at the Whistle Stop Cafe',
 "From Potter's Field",
 "Full House (Janet Evanovich's Full Series)",
 "Full Tilt (Janet Evanovich's Full Series)",
 'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))',
 'Girl in Hyacinth Blue',
 'Girl with a Pearl Earring',
 'Girl, Interrupted',
 'Good in Bed',
 'H Is for Homicide (Kinsey Millhone Mysteries (Paperback))',
 'Hannibal',
 'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'Harry Potter and the Chamber of Secrets (Book 2)',
 'Harry Potter and the Goblet of Fire (Book 4)',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 'Harry Potter and the Prisoner of Azkaban (Book 3)',
 "Harry Potter and the Sorcerer's Stone (Book 1)",
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
 'Heart of the Sea (Irish Trilogy)',
 'Heaven and Earth (Three Sisters Island Trilogy)',
 'Here on Earth',
 'High Five (A Stephanie Plum Novel)',
 "Hornet's Nest",
 'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'House of Sand and Fog',
 'How to Be Good',
 'I Is for Innocent',
 'I Know This Much Is True',
 'I Know Why the Caged Bird Sings',
 "I'll Be Seeing You",
 'Icy Sparks',
 'Insomnia',
 'Interview with the Vampire',
 'Into Thin Air : A Personal Account of the Mt. Everest Disaster',
 'Isle of Dogs',
 'J Is for Judgment',
 'Jack & Jill (Alex Cross Novels)',
 'Jemima J: A Novel About Ugly Ducklings and Swans',
 'Jewel',
 'Jewels of the Sun (Irish Trilogy)',
 'Jurassic Park',
 'K Is for Killer (Kinsey Millhone Mysteries (Paperback))',
 'Kiss the Girls',
 "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
 'Life of Pi',
 'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies',
 'Little Altars Everywhere: A Novel',
 'Lord of the Flies',
 'Love in the Time of Cholera (Penguin Great Books of the 20th Century)',
 'Loves Music, Loves to Dance',
 'Lucky : A Memoir',
 'M Is for Malice',
 'Me Talk Pretty One Day',
 'Message in a Bottle',
 'Midnight in the Garden of Good and Evil: A Savannah Story',
 'Midwives: A Novel',
 'Mystic River',
 'N Is for Noose',
 'Needful Things',
 'Neverwhere',
 'Nickel and Dimed: On (Not) Getting By in America',
 'Night',
 'Night Sins',
 'On the Street Where You Live',
 'One Door Away from Heaven',
 'One True Thing',
 'One for the Money (Stephanie Plum Novels (Paperback))',
 'Outlander',
 'P Is for Peril',
 'Pay It Forward',
 'Point of Origin',
 'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
 'Pop Goes the Weasel',
 'Presumed Innocent',
 "Pretend You Don't See Her",
 'Red Dragon',
 'Red Storm Rising',
 'Rising Sun',
 'River, Cross My Heart',
 'Roses Are Red (Alex Cross Novels)',
 'SHIPPING NEWS',
 'STONES FROM THE RIVER',
 'Scarlet Feather',
 'Seabiscuit',
 'Seabiscuit: An American Legend',
 'Secret History',
 'Seven Up (A Stephanie Plum Novel)',
 "She's Come Undone (Oprah's Book Club (Paperback))",
 "She's Come Undone (Oprah's Book Club)",
 'Shopaholic Takes Manhattan (Summer Display Opportunity)',
 'Shopaholic Ties the Knot',
 'Silence of the Lambs',
 'Slow Waltz in Cedar Bend',
 'Snow Falling on Cedars',
 "Songs in Ordinary Time (Oprah's Book Club (Paperback))",
 "Sophie's World: A Novel About the History of Philosophy",
 'Southern Cross',
 'Sphere',
 'Stupid White Men ...and Other Sorry Excuses for the State of the Nation!',
 'Summer Sisters',
 'Tara Road',
 'Tears of the Giraffe (No.1 Ladies Detective Agency)',
 'Tears of the Moon (Irish Trilogy)',
 'Tell No One',
 'The Alchemist: A Fable About Following Your Dream',
 'The Alienist',
 'The Angel of Darkness',
 'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
 'The Beach House',
 'The Bean Trees',
 'The Body Farm',
 "The Bonesetter's Daughter",
 'The Bonfire of the Vanities',
 "The Book of Ruth (Oprah's Book Club (Paperback))",
 'The Brethren',
 'The Bridges of Madison County',
 'The Cardinal of the Kremlin (Jack Ryan Novels)',
 'The Catcher in the Rye',
 'The Celestine Prophecy (Celestine Prophecy)',
 'The Chamber',
 'The Cider House Rules',
 "The Clan of the Cave Bear (Earth's Children (Paperback))",
 'The Client',
 "The Color of Water: A Black Man's Tribute to His White Mother",
 'The Da Vinci Code',
 'The Dark Half',
 'The Divine Secrets of the Ya-Ya Sisterhood: A Novel',
 'The English Patient',
 'The Eyre Affair: A Novel',
 'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
 'The Firm',
 'The Five People You Meet in Heaven',
 'The Girl Who Loved Tom Gordon',
 "The Girls' Guide to Hunting and Fishing",
 'The God of Small Things',
 'The Green Mile',
 "The Handmaid's Tale",
 'The Hobbit : The Enchanting Prelude to The Lord of the Rings',
 'The Horse Whisperer',
 'The Hot Zone',
 'The Hours: A Novel',
 'The Hundred Secret Senses',
 'The Joy Luck Club',
 'The King of Torts',
 "The Kitchen God's Wife",
 'The Last Precinct',
 'The Last Time They Met : A Novel',
 'The Loop',
 'The Lost World',
 'The Lovely Bones: A Novel',
 'The Mists of Avalon',
 'The Nanny Diaries: A Novel',
 "The No. 1 Ladies' Detective Agency (Today Show Book Club #8)",
 'The Notebook',
 'The Partner',
 'The Pelican Brief',
 'The Perfect Storm : A True Story of Men Against the Sea',
 'The Pillars of the Earth',
 "The Pilot's Wife : A Novel",
 'The Poisonwood Bible: A Novel',
 'The Prince of Tides',
 'The Queen of the Damned (Vampire Chronicles (Paperback))',
 'The Rainmaker',
 'The Rapture of Canaan',
 'The Reader',
 'The Red Tent (Bestselling Backlist)',
 'The Rescue',
 'The Return of the King (The Lord of the Rings, Part 3)',
 'The Runaway Jury',
 'The Saving Graces: A Novel',
 'The Secret Life of Bees',
 'The Simple Truth',
 'The Stone Diaries',
 'The Street Lawyer',
 'The Sum of All Fears (Jack Ryan Novels)',
 'The Summerhouse',
 'The Summons',
 "The Sweet Potato Queens' Book of Love",
 'The Tale of the Body Thief (Vampire Chronicles (Paperback))',
 'The Tao of Pooh',
 'The Testament',
 'The Thorn Birds',
 'The Tommyknockers',
 'The Two Towers (The Lord of the Rings, Part 2)',
 'The Vampire Lestat (Vampire Chronicles, Book II)',
 'The Virgin Suicides',
 'The Weight of Water : A Novel Tag: Author of Resistance and Strange Fits of Passion',
 'The Witching Hour (Lives of the Mayfair Witches)',
 'Three Junes',
 'Three To Get Deadly : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'Timeline',
 'To Kill a Mockingbird',
 'Tribulation Force: The Continuing Drama of Those Left Behind (Left Behind No. 2)',
 "Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson",
 'Two for the Dough',
 'Under the Tuscan Sun',
 'Unnatural Exposure',
 "Vinegar Hill (Oprah's Book Club (Paperback))",
 'Violets Are Blue',
 'Watership Down',
 'We Were the Mulvaneys',
 'Welcome to the World, Baby Girl!',
 'What Looks Like Crazy On An Ordinary Day',
 'When the Wind Blows',
 "Where the Heart Is (Oprah's Book Club (Paperback))",
 'While I Was Gone',
 'White Oleander : A Novel',
 "White Oleander : A Novel (Oprah's Book Club)",
 'White Teeth: A Novel',
 'Wicked: The Life and Times of the Wicked Witch of the West',
 'Wild Animus',
 '\\O\\" Is for Outlaw"']

In [149]:
def get_rating_prediction_for_nulls(user_id):
    if user_id in matrix.index:
        
        #find 3 most similar users who rated the unread books of this and predict a rating for all of them. Recommend the top 10 predicted rating books 
        
        user_index = np.where(matrix.index==user_id)[0][0]
        
        prediction_list = []
        for i in range(len(matrix.columns)):
            if matrix.isnull().iloc[user_index][i]:
                k=3# number of top similar users who have rated the book
                # print(f"k = {k}")
                count =0
                # print(f"count = {count}")
                sum_sim_mul_rat = 0
                
                sum_sim = 0
                predicted_rate = 0
                similar_user_indices_with_similarity = get_similar_users(user_id)
                
                for similar_user_index, similarity in similar_user_indices_with_similarity:
                    # print(f"similar user index is {similar_user_index}")
                    if(count==k):
                        break
                    else:
                        if matrix.isnull().iloc[similar_user_index][i]:
                            continue
                    
                        if (matrix.iloc[similar_user_index][i]==0 or similarity==0):
                            continue
                        
                        count+=1
                        sum_sim_mul_rat+= similarity*matrix.iloc[similar_user_index][i]
                        sum_sim += similarity
                        # print(f"rating of user_id {matrix.index[similar_user_index]} for book{book_index}: \"{matrix.columns[book_index]}\" is {matrix.iloc[similar_user_index][book_index]} \nsimilarity is {similarity} at count {count}")
                if sum_sim!=0:
                    predicted_rate = sum_sim_mul_rat/sum_sim
                    prediction_list.append((matrix.columns[i], predicted_rate))
                # print(f"for user:{user} for book:{matrix.columns[i]} predicted rate is {predicted_rate}")
        print(prediction_list)
        # return prediction_list
        return pd.DataFrame(prediction_list[:10], columns=["book_title", "predicted_rating"]).sort_values(by="predicted_rating", ascending=False)
    
    else:
        
        # Recommend top 10 popular books
        
        if user_id in data["user_id"].values:
            num_of_ratings = data.groupby("book_title").count()["rating"].reset_index().sort_values(by="rating", ascending=False)
            stats_num_ratings = num_of_ratings["rating"].describe(percentiles=[.999])
            threshold_most_rated = stats_num_ratings["99.9%"]
            most_rated_books = num_of_ratings[num_of_ratings["rating"]>=threshold_most_rated]
            
            data_most_rated_only = data[data["book_title"].isin(most_rated_books["book_title"])].reset_index()
            top_books_avg = data_most_rated_only.groupby("book_title")["rating"].mean().reset_index().sort_values(by="rating", ascending=False)[:10]
            return top_books_avg
            
            
        else:
            return "Can not make prediction for this user"

In [144]:
get_rating_prediction_for_nulls(254)

[('1st to Die: A Novel', 7.7799263750294), ('2nd Chance', 7.535867294704572), ('4 Blondes', 6.5732324316443265), ('A Bend in the Road', 7.842672308881441), ('A Case of Need', 7.820681206389931), ('A Child Called \\It\\": One Child\'s Courage to Survive"', 7.320029367886783), ('A Heartbreaking Work of Staggering Genius', 8.259460219761728), ('A Is for Alibi (Kinsey Millhone Mysteries (Paperback))', 8.161418636896643), ('A Lesson Before Dying (Vintage Contemporaries (Paperback))', 6.3021449370479345), ('A Map of the World', 5.197254421947455), ('A Painted House', 6.911856769063636), ('A Prayer for Owen Meany', 8.288777077569511), ("A Thousand Acres (Ballantine Reader's Circle)", 8.006170823713134), ('A Time to Kill', 7.535578691842579), ('A Walk to Remember', 6.218323677214656), ('Airframe', 8.761451858676976), ('All I Really Need to Know', 9.319267915118525), ('All That Remains (Kay Scarpetta Mysteries (Paperback))', 8.624600571312303), ('Along Came a Spider (Alex Cross Novels)', 7.595554776862969), ("Angela's Ashes: A Memoir", 8.759031411937471), ('Angels & Demons', 9.402825098526733), ('Ashes to Ashes', 7.824439255217518), ('At Home in Mitford (The Mitford Years)', 9.373670381478048), ('Atonement : A Novel', 6.233314646287698), ('B Is for Burglar (Kinsey Millhone Mysteries (Paperback))', 9.077322297927363), ('Balzac and the Little Chinese Seamstress : A Novel', 8.382237180400537), ('Before I Say Good-Bye', 6.044661658302922), ('Bel Canto: A Novel', 8.88516245901871), ("Big Stone Gap: A Novel (Ballantine Reader's Circle)", 7.757152114507532), ('Black Notice', 7.648316810239041), ('Black and Blue', 7.392044014304077), ('Breathing Lessons', 8.981738864579368), ('C Is for Corpse (Kinsey Millhone Mysteries (Paperback))', 9.484110586363709), ('Call of the Wild', 7.74135891599767), ('Carolina Moon', 8.951491357578206), ('Cat & Mouse (Alex Cross Novels)', 8.352084365427443), ('Cause of Death', 7.815938593158955), ('Chicken Soup for the Soul (Chicken Soup for the Soul)', 8.38648846831423), ('Cold Mountain : A Novel', 6.966802856620041), ('Confessions of a Shopaholic (Summer Display Opportunity)', 6.530571644951831), ('Confessions of an Ugly Stepsister : A Novel', 6.511802349796699), ('Congo', 7.594245298834035), ('Cradle and All', 6.663124153648823), ('Cruel & Unusual (Kay Scarpetta Mysteries (Paperback))', 7.126965988432204), ('D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))', 8.437945571643269), ('Daisy Fay and the Miracle Man', 7.428036900827767), ('Dance upon the Air (Three Sisters Island Trilogy)', 6.877902841170768), ('Dark Paradise', 5.767852958974714), ('Deception Point', 7.663602280449976), ('Disclosure', 8.440197302854783), ('Divine Secrets of the Ya-Ya Sisterhood: A Novel', 9.35864379697097), ('Dolores Claiborne', 8.050893399003602), ("Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)", 9.189638112696118), ("Dude, Where's My Country?", 7.606821957773936), ('E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))', 8.440505768509082), ('Ellen Foster', 8.842255667417476), ('Empire Falls', 7.596864836348083), ('F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))', 9.034546882551794), ('Fahrenheit 451', 9.628361591897475), ('Fall On Your Knees (Oprah #45)', 8.597670671594349), ('False Memory', 7.498358723474016), ('Fast Food Nation: The Dark Side of the All-American Meal', 8.301284786280053), ('Fast Women', 9.141565387295769), ('Four To Score (A Stephanie Plum Novel)', 9.09528444235195), ('Fried Green Tomatoes at the Whistle Stop Cafe', 8.2682449497308), ("From Potter's Field", 8.12800519470286), ("Full House (Janet Evanovich's Full Series)", 7.983815675228368), ("Full Tilt (Janet Evanovich's Full Series)", 7.646880500182237), ('G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))', 9.618289748300064), ('Girl in Hyacinth Blue', 7.614558688074899), ('Girl, Interrupted', 8.992997992552237), ('Good in Bed', 8.972336237601327), ('H Is for Homicide (Kinsey Millhone Mysteries (Paperback))', 7.725998486377138), ('Hannibal', 6.679648404383648), ('Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)', 8.280617060702095), ("Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))", 10.0), ('Heart of the Sea (Irish Trilogy)', 7.812758070596559), ('Heaven and Earth (Three Sisters Island Trilogy)', 8.451463912632972), ('Here on Earth', 8.62373958041516), ('High Five (A Stephanie Plum Novel)', 9.15956492319464), ("Hornet's Nest", 6.652121612189179), ('Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)', 7.057297813457122), ('How to Be Good', 5.1267595358866345), ('I Is for Innocent', 8.477092954972369), ('I Know This Much Is True', 8.843088264276718), ('I Know Why the Caged Bird Sings', 7.648816167980035), ("I'll Be Seeing You", 8.587082429418553), ('Icy Sparks', 8.268983828042094), ('Insomnia', 8.68083671614248), ('Interview with the Vampire', 5.805852752089953), ('Into Thin Air : A Personal Account of the Mt. Everest Disaster', 8.854939047061205), ('Isle of Dogs', 4.825626393648418), ('J Is for Judgment', 9.126731982402118), ('Jack & Jill (Alex Cross Novels)', 8.241713245554148), ('Jemima J: A Novel About Ugly Ducklings and Swans', 7.527781229406739), ('Jewel', 8.0), ('Jewels of the Sun (Irish Trilogy)', 8.551030605469359), ('Jurassic Park', 8.031411560495538), ('K Is for Killer (Kinsey Millhone Mysteries (Paperback))', 7.456149942947948), ('Kiss the Girls', 8.708654326771905), ("Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)", 6.068092138443358), ('Life of Pi', 9.05403318803764), ('Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies', 7.659557696805536), ('Little Altars Everywhere: A Novel', 9.4953749883345), ('Love in the Time of Cholera (Penguin Great Books of the 20th Century)', 6.9388382711170475), ('Loves Music, Loves to Dance', 7.6130582729606475), ('Lucky : A Memoir', 8.60495360286677), ('M Is for Malice', 8.879592237678334), ('Message in a Bottle', 7.260782338422052), ('Midnight in the Garden of Good and Evil: A Savannah Story', 8.321877623950382), ('Midwives: A Novel', 7.714328123529076), ('Mystic River', 8.086565997589188), ('N Is for Noose', 7.0), ('Needful Things', 7.610952669595859), ('Nickel and Dimed: On (Not) Getting By in America', 9.18952424809458), ('Night', 8.926542048523658), ('Night Sins', 6.394272022756861), ('On the Street Where You Live', 7.632642602667194), ('One Door Away from Heaven', 8.264381335596429), ('One True Thing', 7.942018347688837), ('One for the Money (Stephanie Plum Novels (Paperback))', 8.724934341394238), ('Outlander', 8.45716839690509), ('P Is for Peril', 8.467217900285315), ('Pay It Forward', 7.000000000000002), ('Point of Origin', 8.31159095406465), ('Politically Correct Bedtime Stories: Modern Tales for Our Life and Times', 8.31481267435879), ('Pop Goes the Weasel', 5.4756056456290105), ('Presumed Innocent', 8.799778848649042), ("Pretend You Don't See Her", 7.787496242536361), ('Red Dragon', 7.277517020652072), ('Red Storm Rising', 5.973464458369626), ('Rising Sun', 7.650062936104656), ('River, Cross My Heart', 6.587233354851495), ('Roses Are Red (Alex Cross Novels)', 9.159931762828556), ('SHIPPING NEWS', 8.087455701813195), ('STONES FROM THE RIVER', 8.664825375938731), ('Scarlet Feather', 7.009992505579572), ('Seabiscuit', 10.0), ('Seabiscuit: An American Legend', 8.903428419289277), ('Secret History', 8.400004772355095), ('Seven Up (A Stephanie Plum Novel)', 9.662370066898498), ("She's Come Undone (Oprah's Book Club (Paperback))", 8.601663986019089), ('Shopaholic Takes Manhattan (Summer Display Opportunity)', 6.91081676215543), ('Shopaholic Ties the Knot', 7.147496133199088), ('Silence of the Lambs', 8.271418284287934), ('Slow Waltz in Cedar Bend', 6.276715887853055), ("Songs in Ordinary Time (Oprah's Book Club (Paperback))", 5.552094212297299), ("Sophie's World: A Novel About the History of Philosophy", 7.494144241434545), ('Southern Cross', 6.228387651283951), ('Sphere', 7.56603618877215), ('Stupid White Men ...and Other Sorry Excuses for the State of the Nation!', 9.027727839894268), ('Summer Sisters', 6.9809372530763705), ('Tara Road', 7.668882768131533), ('Tears of the Giraffe (No.1 Ladies Detective Agency)', 7.155982920391918), ('Tears of the Moon (Irish Trilogy)', 9.02411573039647), ('Tell No One', 8.555900082287614), ('The Alchemist: A Fable About Following Your Dream', 7.363188170258933), ('The Alienist', 6.663373042670865), ('The Angel of Darkness', 7.576089348548633), ('The Bad Beginning (A Series of Unfortunate Events, Book 1)', 9.734667156239897), ('The Beach House', 8.144534080109135), ('The Bean Trees', 8.509811589512097), ('The Body Farm', 7.155077816923917), ("The Bonesetter's Daughter", 5.694625037446576), ('The Bonfire of the Vanities', 7.8004148255837205), ("The Book of Ruth (Oprah's Book Club (Paperback))", 6.9463370659179455), ('The Brethren', 7.032088255169882), ('The Bridges of Madison County', 6.762032867193885), ('The Cardinal of the Kremlin (Jack Ryan Novels)', 8.068335390729532), ('The Celestine Prophecy (Celestine Prophecy)', 7.301374790424993), ('The Chamber', 7.334627911582832), ('The Client', 7.437328598499748), ("The Color of Water: A Black Man's Tribute to His White Mother", 5.838828133573961), ('The Da Vinci Code', 7.507208964925461), ('The Divine Secrets of the Ya-Ya Sisterhood: A Novel', 6.899884997074049), ('The English Patient', 8.286093090835276), ('The Eyre Affair: A Novel', 8.765468551610999), ('The Fellowship of the Ring (The Lord of the Rings, Part 1)', 8.878914840497314), ('The Firm', 7.227299675596787), ('The Five People You Meet in Heaven', 8.626294406679927), ('The Girl Who Loved Tom Gordon', 7.095263271440581), ("The Girls' Guide to Hunting and Fishing", 6.196400380357171), ('The God of Small Things', 6.094934406489771), ('The Green Mile', 8.487793324655359), ("The Handmaid's Tale", 8.32665031175635), ('The Hobbit : The Enchanting Prelude to The Lord of the Rings', 9.0), ('The Horse Whisperer', 7.8450100005899674), ('The Hot Zone', 9.24626685780882), ('The Hundred Secret Senses', 8.611665838317794), ('The King of Torts', 8.377711403549254), ('The Last Precinct', 8.502012255738801), ('The Last Time They Met : A Novel', 6.790455739376074), ('The Loop', 8.317678779623598), ('The Lost World', 7.232233509822653), ('The Lovely Bones: A Novel', 8.330003318027991), ('The Nanny Diaries: A Novel', 9.12969630570589), ("The No. 1 Ladies' Detective Agency (Today Show Book Club #8)", 7.433448549822969), ('The Partner', 7.649612101090699), ('The Pelican Brief', 7.489523141141407), ('The Perfect Storm : A True Story of Men Against the Sea', 8.148935207812643), ('The Pillars of the Earth', 8.417216193218612), ("The Pilot's Wife : A Novel", 8.169902977487254), ('The Prince of Tides', 9.080043938173393), ('The Queen of the Damned (Vampire Chronicles (Paperback))', 8.81364016181155), ('The Rainmaker', 7.583582110002752), ('The Rapture of Canaan', 8.397257617883115), ('The Reader', 5.0993962097707435), ('The Red Tent (Bestselling Backlist)', 9.69955313133707), ('The Rescue', 5.510777068475273), ('The Return of the King (The Lord of the Rings, Part 3)', 9.614625184355749), ('The Runaway Jury', 8.262815093858176), ('The Saving Graces: A Novel', 7.889266797414107), ('The Simple Truth', 6.117420702353673), ('The Stone Diaries', 8.28212036432926), ('The Street Lawyer', 6.511616516491821), ('The Sum of All Fears (Jack Ryan Novels)', 7.139919119074375), ('The Summerhouse', 6.471777386238098), ('The Summons', 5.791726431773313), ("The Sweet Potato Queens' Book of Love", 7.937104663419866), ('The Tale of the Body Thief (Vampire Chronicles (Paperback))', 8.457943809174617), ('The Tao of Pooh', 9.750274717025091), ('The Testament', 7.0), ('The Thorn Birds', 9.602251606414582), ('The Tommyknockers', 8.689498968465715), ('The Two Towers (The Lord of the Rings, Part 2)', 9.020904974102493), ('The Vampire Lestat (Vampire Chronicles, Book II)', 6.617615329043969), ('The Virgin Suicides', 9.16874265962067), ('The Weight of Water : A Novel Tag: Author of Resistance and Strange Fits of Passion', 7.948006774082041), ('Three Junes', 7.003446085660477), ('Three To Get Deadly : A Stephanie Plum Novel (A Stephanie Plum Novel)', 7.147127432777737), ('Timeline', 8.155970977052203), ('To Kill a Mockingbird', 9.999999999999998), ('Tribulation Force: The Continuing Drama of Those Left Behind (Left Behind No. 2)', 7.632308150401475), ("Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson", 7.8390647206020105), ('Two for the Dough', 8.44974297702225), ('Under the Tuscan Sun', 8.084908014888994), ('Unnatural Exposure', 7.403540881671514), ("Vinegar Hill (Oprah's Book Club (Paperback))", 5.815314104246105), ('Violets Are Blue', 7.09622108465256), ('Watership Down', 9.014120701734749), ('We Were the Mulvaneys', 6.963824641734316), ('Welcome to the World, Baby Girl!', 8.748811065671447), ('What Looks Like Crazy On An Ordinary Day', 8.274272528129863), ('When the Wind Blows', 7.412402730771225), ("Where the Heart Is (Oprah's Book Club (Paperback))", 7.174120018127965), ('While I Was Gone', 6.217368144422722), ("White Oleander : A Novel (Oprah's Book Club)", 7.943692788099182), ('White Teeth: A Novel', 6.055043428874814), ('Wicked: The Life and Times of the Wicked Witch of the West', 7.613658143421872), ('Wild Animus', 2.018562946529445), ('\\O\\" Is for Outlaw"', 8.10054578225041)]

                                          book_title  predicted_rating
6          A Heartbreaking Work of Staggering Genius          8.259460
7  A Is for Alibi (Kinsey Millhone Mysteries (Pap...          8.161419
3                                 A Bend in the Road          7.842672
4                                     A Case of Need          7.820681
0                                1st to Die: A Novel          7.779926
1                                         2nd Chance          7.535867
5  A Child Called \It\": One Child's Courage to S...          7.320029
2                                          4 Blondes          6.573232
8  A Lesson Before Dying (Vintage Contemporaries ...          6.302145
9                                 A Map of the World          5.197254

In [152]:
get_rating_prediction_for_nulls(32)

                                            book_title    rating
77   Harry Potter and the Prisoner of Azkaban (Book 3)  5.852804
75        Harry Potter and the Goblet of Fire (Book 4)  5.824289
78      Harry Potter and the Sorcerer's Stone (Book 1)  5.737410
76   Harry Potter and the Order of the Phoenix (Boo...  5.501441
56       Ender's Game (Ender Wiggins Saga (Paperback))  5.409639
74    Harry Potter and the Chamber of Secrets (Book 2)  5.183453
177  The Hobbit : The Enchanting Prelude to The Lor...  5.007117
167  The Fellowship of the Ring (The Lord of the Ri...  4.948370
79   Harry Potter and the Sorcerer's Stone (Harry P...  4.895652
218     The Two Towers (The Lord of the Rings, Part 2)  4.880769